<div id="main"></div>
<div id="greeting"></div>
<div id="about"></div>
<div id="step"></div>
<div id="studymethod"></div>
<div id="conversion"></div>

<%= javascript_pack_tag 'Main' -%>
<%= javascript_pack_tag 'Greeting' -%>
<%= javascript_pack_tag 'About' -%>
<%= javascript_pack_tag 'Step' -%>
<%= javascript_pack_tag 'StudyMethod' -%>
<%= javascript_pack_tag 'Conversion' -%>