<section class="bg-light py-5">
<div class="container">
<p id="notice"><%= notice %></p>

<h1>投稿一覧</h1>

<table>
  

  <tbody>
    <% @posts.each do |post| %>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
       <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
</div>
    <% end %>
  </tbody>
</table>

</div>
</section>